*{
    margin: 0;
    padding: 0;
    }
    
html{
    font-family: 'Poppins', sans-serif;
    font-size: 62,5%;
    }
.parrafoDePrueba{
    background-color: aqua;
}
.body{
    width: 100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    grid-template-areas:
    "encabezado"
    "main"
    "section"
    "footer";
    position: fixed bottom;
}
.encabezado{
    background-color: #fff;
    top: 0px;
    left: 0px;
    color: #171d1c;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    }
.encabezado--div{
    display: flex;
    flex-direction:column;
    margin: 0px auto 0px 10px;
    justify-content: space-around;
    }
.encabezado--div--h1{
    font-size: 1rem;
    }
.encabezado--div--h2{
    font-size: 0.7rem;
    }
.encabezado--logo{
    width:94.5px;
    height:13.2px;
    }
.encabezado--a{
    color:#171d1c;
    }
.encabezado--nav{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px 20px auto;

    }
.encabezado--nav--ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
/*    column-gap: 100px;*/
    align-items: center;
    }
.encabezado--nav--ul--li {
    list-style-type: none;
    }
.main{
    background-color: #efe9f4;
    color:#171d1c;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }
.main--p{
    margin: 10px 25px 10px 25px;
}
.main--ol{
    margin: 0px 10px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.main--iframe{
    height:150px;
    margin: 0 auto;
    }
.main--boton {
width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
    }
      .btn {
        width: 130px;
        height: 40px;
        line-height: 42px;
        padding: 0;
        border: none;
        background:#7537f8;
      background: linear-gradient(0deg,#7537f8,#7537f8 100%);
      }
      .btn:hover {
        color: #7537f8;
        background: transparent;
         box-shadow:none;
      }
      .btn:before,
      .btn:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #7537f8;
        box-shadow:
         -1px -1px 5px 0px #fff,
         7px 7px 20px 0px #0003,
         4px 4px 5px 0px #0002;
        transition:400ms ease all;
      }
      .btn:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
      }
      .btn:hover:before,
      .btn:hover:after{
        width:100%;
        transition:800ms ease all;
      }
      
      

.main--boton--frame {
    margin: 40px auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content:center;
    }
.main--h3{
    color: #7537f8;
    font-weight: 200em;
    font-size: 2rem;
    }
.section{
    background-color: #7537f8;
    color: #fff;
    display: flex;
    flex-direction: column;
    
}
.section--nosotros--card--esp1{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin: 0px auto 0px 20px;
    align-items: center;
    }
.section--nosotros--card--esp2{
        display: flex;
        flex-direction: row-reverse;
        align-self: flex-start;
        margin: 0px 20px 0px auto;
        align-items: center;
    }
.section--nosotros--card--esp3{
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        margin: 0px auto 10px 20px;
        align-items: center;
    }
.section--nosotros--card--esp4{
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
    margin: 0px 20px 0px auto;
    align-items: center;
    }
.section--h3{
    font-weight: 200em;
    font-size: 1.1rem;
        }
.section--h3--experiencias{
    font-weight: 200em;
    font-size: 1.1rem;
    
        }
.main--h3--nosotros{
    color: #7537f8;
    font-size: 1.5rem;
    }
    
.section--h4{
    font-style: oblique;
    }
.section2{
    background-color: #efe9f4;
    color: #171d1c;
    }
.footer{
    background: #171d1c;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5px;
    }
.footer--div1{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0 auto;
    font-size: 0.7rem;
    padding: 10px 0px 10px 0px;
    row-gap: 10px;    
}
.footer--logo{
    width:113.4px;
    height:15.84px;
}
.footer--div{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: right;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
    }

.section--team{
    background-color: #7537f8;
    color: #fff;
    display: flex;
    flex-direction: column;
    }
.section--nosotros--card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 10px;
    }
    .section--team--card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        row-gap: 10px;
        }

    /*Tablets*/
@media screen and (min-width: 500px){
    html{
        font-family: 'Montserrat', sans-serif;
        font-size: 62,5%;
        }
        .section--h3--experiencias{
            font-weight: 200em;
            font-size: 2rem;
            margin: 20px auto 10px 50px;
                }
    .encabezado{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        }
    .encabezado--div{
        display: flex;
        flex-direction:row;
        margin: 0px auto 0px 10px;
        justify-content: space-around;
        }
    .encabezado--div--h{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        }
    .encabezado--div--h1{
        font-size: 1.5rem;
        }
    .encabezado--div--h2{
        font-size: 1rem;
        }
    .encabezado--a--logo{
        display:flex;
        }
    .encabezado--logo{
        width:94.5px;
        height:13.2px;
        align-self: center;
        }
    .encabezado--nav{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto 20px auto;
        }
    .encabezado--nav--ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        column-gap: 100px;
        align-items: center;
        }
.section--nosotros--card--esp1{
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        margin: 0px auto 0px 20px;
        align-items: center;
        }
.section--nosotros--card--esp2{
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        margin: 0px auto 0px 20px;
        align-items: center;
        }
.section--nosotros--card--esp3{
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        margin: 0px auto 0px 20px;
        align-items: center;
        }
.section--nosotros--card--esp4{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin: 0px auto 0px 20px;
    align-items: center;
    }                  
        
    .main{
        background-color: #efe9f4;
        color:#171d1c;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        }
    .main--p{
        margin: 10px 25px 10px 25px;
    }
    .main--section--2{
        display:flex;
        flex-direction: row;
        }
    .main--ol{
        margin: 0px auto 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-self: baseline;
    }
    .main--iframe{
        height:150px;
        margin: auto;
        }
    .section--main--h3{
        display: flex;
        justify-content: space-around;
    }
    .main--h3{
        color: #7537f8;
        font-weight: 200em;
        font-size: 2rem;
        }
    .footer--div1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto 10px;
        font-size: 0.7rem;
        column-gap: 20px;    
    }
    .section--team{
        background-color: #7537f8;
        color: #fff;
        display: flex;
        flex-direction: column;
        }
    .section--team--card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        row-gap: 10px;
        }
    .section--team--card--director{
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        margin: 0px auto 0px 20px;
        align-items: center;
    }
    .section--team--card--h{
        display: flex;
        flex-direction: column;
    }
    .section--team--card--designer{
        display: flex;
        flex-direction: row-reverse;
        align-self: flex-start;
        margin: 0px 20px 0px auto;
        align-items: center;
    }
    .section--team--card--producer{
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        margin: 0px auto 10px 20px;
        align-items: center;
    }
}

    /*Desktops*/
@media screen and (min-width: 768px){
    .encabezado{
        display: flex;
        flex-direction:row;
        flex-wrap:nowrap;
        }
    .encabezado--div{
        display: flex;
        flex-direction:column;
        align-items: flex-start;
        margin: 0px auto 0px 10px;
        }
    .encabezado--div--h{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        }
    .encabezado--div--h1{
        font-size: 1.5rem;
        }
    .encabezado--div--h2{
        font-size: 1rem;
        }
    .encabezado--a--logo{
        display:flex;
        }
    .encabezado--logo{
        width:141.75px;
        height:19.8px;
        align-self: center;
        }
    .encabezado--nav{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        }
    .encabezado--nav--ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 30px;
        }
    .encabezado--nav--ul--li {
        list-style-type: none;
        }
    .main{
        background-color: #efe9f4;
        color:#171d1c;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        }
    .main--p{
        display: flex;
        align-items: baseline;
    }
    .main--section--2{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        }
    .main--ol{
        margin: 0px 20px 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-self: center;
        }
    .main--boton--frame{
        margin: 10px auto;
    }
    .section--main--h3{
        display: flex;
        justify-content: flex-start;
        margin: 10px auto 10px 20px;
    }
    .main--h3{
        color: #7537f8;
        font-weight: 200em;
        font-size: 2rem;
        }
    .footer--div1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto 10px;
        font-size: 0.7rem;
        column-gap: 20px;    
    }
    .section--team{
        background-color: #7537f8;
        color: #fff;
        display: flex;
        flex-direction: column;
        }
    .section--team--card{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        row-gap: 10px;
        
        }
    .section--team--card--director{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin: 0px auto;
        align-items: center;
    }
    .section--team--card--h{
        display: flex;
        flex-direction: column;
    }
    .section--team--card--designer{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin: 0px auto;
        align-items: center;
    }
    .section--team--card--producer{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin: 0px auto;
        align-items: center;
    }
    .footer--div{
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin: 10px 20px 10px auto;
        }
    .section--h3{
        font-weight: 200em;
        font-size: 2rem;
        margin: 10px auto 10px 20px;
        }
}